<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  
    <title>Kickpush</title>
  </head>
  <body>
    <div class='container'>
      <%- include('partials/nav') %>
    </div>
      <section class='d-flex align-items-center justify-content-center'>
        <div class='text-white text-center'>
          <h1 class='display-1'><strong>M HANIF</strong></h1>
          <p class='lead'>The Mechyman</p>
          <div>
           <a href='https://github.com/hanifmusa96'> <img src='/img/icons/github-icon.png'></a>
           <a href='https://twitter.com/_anippp'><img src='/img/icons/twitter-icon.png'></a>
          </div>
        </div>
      </section>

      <section class='d-flex align-items-center justify-content-center'>
        <div class='text-white text-center'>
          <h1 class='display-1 color-desire-text text-statement' ><strong>No politics</strong></h1>
          <h1 class='display-1 color-desire-text text-statement'><strong>no drama</strong></h1>
          
        </div>
      </section>

    <%- include('partials/scripts') %>
  </body>
</html>